* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner {
    width: 100%;
    min-height: 100vh;
    padding: 65px 160px 0 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo-dark {
    width: 60px;
    height: 32px;
}

.navigation {
    padding-top: 27px;
    padding-right: 193px;

}

.navigation .active {
    color: #5FB4A2;
}

.navigation-item {
    margin-left: 43px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

    color: #33323D;
}

.hero {
    width: 1110px;
    height: 600px;
    background-image: url('../../assets/home/image-homepage-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 55px;
}

.text-button {
    background-color: #FAFAFA;
    width: 445px;
    height: 357px;
    position: absolute;
    left: 190px;
    bottom: -110px;
}

.text-button h1 {
    height: 200px;
    position: absolute;
    left: 6.07%;
    right: 6.29%;
    top: calc(50% - 200px/2 - 22.5px);

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: -0.446429px;

    color: #33323D;

}

.about-button {
    background-color: #203a4c;
    color: #ffffff;
    width: 200px;
    height: 48px;
    position: relative;
    left: 0%;
    right: 55.06%;
    top: 86.55%;
    padding: 0;
    padding-right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;

}

.about-button svg {
    box-sizing: content-box;
    padding: 18px 16px;
    margin-right: 30px;
    background-color: rgba(0, 0, 0, 0.1);
}

.about-button:hover {
    background-color: #5fb4a2;
}

.about-button:hover svg g {
    stroke: #ffffff;
}

.about-me {
    width: 1110px;
    height: 601px;
    margin-top: 100px;
    display: flex;

}

.image img {
    width: 540px;
    height: 600px;
}

.about {
    width: 430px;
    height: 601px;
    margin-left: 140px;
    border-top: 1px solid rgb(51, 50, 61, 0.2);
    border-bottom: 1px solid rgb(51, 50, 61, 0.2);
}

.about h2 {
    margin-top: 51px;
    margin-bottom: 28px;

    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    color: #33323D;
}

.about p {
    width: 430px;
    height: 360px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;

    color: #33323D;

    mix-blend-mode: normal;
    opacity: 0.8;
}

.about .button {
    width: 204px;
    height: 48px;
    margin: 24px 113px 46px 113px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
    background-color: #FAFAFA;
    border: 1px solid #33323D;
}

.about .button:hover {
    background-color: #33323D;
    color: #eaeaeb;
}

.contact {
    display: flex;
    justify-content: space-between;
    margin: 150px 0 150px 0;
}

.contact h2 {
    height: 84px;
    width: 367px;
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;

    letter-spacing: -0.357143px;

    color: #33323D;

}

.contact button {
    width: 168px;
    height: 48px;
    margin: 18px 0 18px 575px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #33323D;
    background-color: #FAFAFA;
    border: 1px solid #33323D;
}

.contact button:hover {
    background-color: #33323D;
    color: #eaeaeb;
}

.footer {
    background-color: #33323D;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.footer img {
    width: 60.08px;
    height: 32px;
    margin-left: 165px;
}

.footer-navigation {
    margin-left: 48.92px;
}

.footer-item {
    margin-right: 42px;

    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #FFFFFF;
    text-decoration: none;
}

.social-media {
    width: 104px;
    height: 24px;
    display: flex;
}

.social-github {
    height: 24;
    height: 25px;
}

.social-twitter {
    height: 19.5px;
    width: 24px;
}

.social-linkedin {
    height: 24px;
    width: 24px;
}